<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tw.rs.mapper.DefinitionsMapper">

    <insert id="insertDefinitions" parameterType="com.tw.rs.bean.Definitions" useGeneratedKeys="true" keyProperty="id">
        insert into definitions(sectionId,hard,normal,easy) values(#{sectionId},#{hard},#{normal},#{easy});
    </insert>

    <delete id="deleteDefinitionsBySectionId" parameterType="java.lang.Integer">
        delete from definitions where sectionId = #{sectionId};
    </delete>

    <update id="updateDefinitions" parameterType="com.tw.rs.bean.Definitions">
        update definitions set hard = #{hard},normal= #{normal},easy= #{easy} where sectionId = #{sectionId};
    </update>

    <select id="getDefinitionsBySectionId" resultType="com.tw.rs.bean.Definitions">
        select * from definitions where sectionId = #{sectionId}
    </select>


</mapper>